/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b263b;
}

a {
  text-decoration: none;
  color: #e0e1dd;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #0d1b2a;
  color: #e0e1dd;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #415a77;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/* TABLE */
.table-coins {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

table {
  color: #e0e1dd;
  width: 75%;
  font-size: 18px;
  border-collapse: collapse;
}

.header-table {
  border-top: 1px solid #e0e1dd;
  background-color: #0d1b2a;
}

.data-table:hover {
  background-color: #415a77;
}

tr {
  border-bottom: 1px solid #e0e1dd;
}

th {
  padding: 7px 7px;
}

td {
  text-align: center;
  padding: 10px 10px;
}

td img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.favorite-icon:hover {
  color: yellow;
  cursor: pointer;
}

.name-image {
  display: flex;
  align-items: center;
}

.l-align {
  text-align: left;
  margin: 0px 20px;
}

.r-align {
  text-align: right;
  margin: 0px 20px;
}

/* SEARCH AREA */
.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.search-area input {
  color: #0d1b2a;
  background-color: #e0e1dd;
  border: none;
  padding: 10px;
  font-size: 15px;
}

.search-area i {
  color: #0d1b2a;
  background-color: #e0e1dd;
  padding: 10px;
  font-size: 15px;
}
